<div class="p-5 text-center bg-body-tertiary">
  <div class="container py-5">
    <h1 class="text-body-emphasis">{{titulo}}</h1>
    <p class="col-lg-8 mx-auto lead">
      <span id="spanNegro">
        Empieza a escuchar música de tus artistas favoritos y descubre nuevos hits</span>
    </p>
    <div class="enlaces-menu">
      <a [routerLink]="['/artists', 1]" [routerLinkActive]="['actived']" >Artistas <span class="glyphicon glyphicon-cog"
          aria-hidden="true"></span> </a>
    </div>
  </div>
</div>