<div class="row fixed-bottom" id="player-contenedor">


    <div class="reproductor-spotify">
        <img src="{{urlAWS + album.image}}" alt="Imagen de la canción" id="imagen-reproductor" class="imagen-cancion">
        <div class="info">
          <div class="artista" id="player-song-name">{{song.name}}</div>
          <div class="cancion" id="player-artist-name">{{artist.name}}</div>
          <audio controls id="player">
            <source src="{{urlAWS + song.file}}" id="mp3-source" type="audio/mpeg">
          </audio>
        </div>
      </div>
</div>