<div class="row">
    <div class="col-lg-1"></div>
    <div *ngIf="identity || token" class="navigation col-lg-11">
        <h1 class="head-title">
            <a [routerLink]="['/']">{{title}}</a>
        </h1>

        <nav id="userLogged">
            <span id="identity_name">{{identity.name}}</span><br>
            <img src="{{url+ 'get-image-user/' + identity.image}}"/><br>
            <span class="btn btn-warning" (click) = "logout()">Log out</span><br>
            <div class="enlaces-menu">
                <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">Mis Datos <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> </a><br>
                <a [routerLink]="['/artists', 1]" [routerLinkActive]="['actived']">Artistas <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> </a>
            </div>
            <router-outlet></router-outlet>
        </nav>
    </div>
</div>
<div class="row" *ngIf="!token">
    <div class="col-lg-6">
        <h1>Log In</h1>
        <form #loginForm="ngForm" (ngSubmit)="onSumbit()" class="col-md-10">
            <div class="alert alert-primary" role="alert">
                This is a primary alert—check it out!
            </div>
            <p>
                <label for="">Email:</label>
                <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
                <span *ngIf="!email.valid && email.touched">
                    El email es obligatorio
                </span>
            </p>
            <p>
                <label for="">Password:</label>
                <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>
            </p>
            <input type="submit" value="LogIn" class="btn btn-primary">
        </form>
    </div>
    <div class="col-lg-6">
        <h1>Sign In</h1>
        <form #registerForm="ngForm" (submit)="onSubmitRegister()" class="col-md-10">
            <p>
                <label for="">Name:</label>
                <input type="text" #name="ngModel" name="name" [(ngModel)]="userRegister.name" class="form-control" required>
                <span *ngIf="!name.valid && name.touched">
                    El nombre es obligatorio
                </span>
            </p>
            <p>
                <label for="">Surname:</label>
                <input type="text" #surname="ngModel" name="surname" [(ngModel)]="userRegister.surname" class="form-control" required>
                <span *ngIf="!surname.valid && surname.touched">
                    Los apellidos son obligatorios
                </span>
            </p>
            <p>
                <label for="">Email:</label>
                <input type="text" #email="ngModel" name="email" [(ngModel)]="userRegister.email" class="form-control" required>
            </p>
            <p>
                <label for="">Password:</label>
                <input type="password" #password="ngModel" name="password" [(ngModel)]="userRegister.password" class="form-control" required>
                <span *ngIf="!password.valid && password.touched">
                    La contraseña es obligatoria
                </span>
            </p>
            <input type="submit" value="LogIn" class="btn btn-primary">
        </form>
    </div>
</div>

