<nav class="navbar navbar-expand-lg navbar-spotify" *ngIf="token">
    <h1 class="head-title">
        <span id="enlace-titulo"><a [routerLink]="['/']">{{title}}</a></span>
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
                    <img src="{{urlAWS + identity.image}}"id="imagen-perfil-navbar" *ngIf="identity.image != 'null'"/>
                    <img src="https://wurmify.s3.eu-west-3.amazonaws.com/3bp8Cojl234GBpn0qzAMd0bI.png" id="imagen-perfil-navbar" *ngIf="identity.image == 'null'"/>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/artists', 1]" [routerLinkActive]="['actived']">Artistas </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/songs']" [routerLinkActive]="['actived']">Biblioteca</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()"><i class="bi bi-box-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-spotify" *ngIf="!token">
    <h1 class="head-title">
        <span id="enlace-titulo"><a [routerLink]="['/']">{{title}}</a></span>
    </h1>
</nav>

<div class="row" *ngIf="token">
    <router-outlet></router-outlet>
</div>

<div class="row" *ngIf="!token">
    <div class="col-lg-4 col-md-1 col-sm-1"></div>
    <div class="col-lg-4 col-md-8 col-sm-6">
        <h1>Inicia sesión en Wurmify</h1>
        <form #loginForm="ngForm" (ngSubmit)="onSumbit()" id="formLogIn">
            <div class="alert alert-primary" role="alert">
                Rellene todos los campos.
            </div>
            <p>
                <label>Email:</label><input type="email" #email="ngModel" name="email"
                    [(ngModel)]="user.email" class="form-control" required>
                <span *ngIf="!email.valid && email.touched">
                    El email es obligatorio
                </span>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password"
                    class="form-control" required>
            </p>
            <input type="submit" value="Iniciar sesión" class="btn-spotify">
        </form>
    </div>
</div>
<hr>
<div class="row" *ngIf="!token">
    <div class="col-lg-4 col-md-1 col-sm-1"></div>
    <div class="col-lg-4 col-md-8 col-sm-10">
        <h1>Regístrate en Wurmify</h1>
        <form #registerForm="ngForm" (submit)="onSubmitRegister()" id="formSignIn">
            <p>
                <label>Nombre:</label>
                <input type="text" #name="ngModel" name="name" [(ngModel)]="userRegister.name" class="form-control"
                    required>
                <span *ngIf="!name.valid && name.touched">
                    El nombre es obligatorio.
                </span>
            </p>
            <p>
                <label>Apellidos:</label>
                <input type="text" #surname="ngModel" name="surname" [(ngModel)]="userRegister.surname"
                    class="form-control" required>
                <span *ngIf="!surname.valid && surname.touched">
                    Los apellidos son obligatorios.
                </span>
            </p>
            <p>
                <label>Email:</label>
                <input type="text" #email="ngModel" name="email" [(ngModel)]="userRegister.email" class="form-control"
                    required>
                <span *ngIf="!email.valid && email.touched">
                    El email es obligatorio.
                </span>
            </p>
            <p>
                <label>Password:</label>
                <input type="password" #password="ngModel" name="password" [(ngModel)]="userRegister.password"
                    class="form-control" required>
                <span *ngIf="!password.valid && password.touched">
                    La contraseña es obligatoria
                </span>
            </p>
            <input type="submit" value="Registrarse" class="btn-spotify">
        </form>
    </div>
</div>

<div class="row" *ngIf="token" style="
display: flex;
justify-content: center;">
    <app-player></app-player>
</div>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white">
        <!-- Section: Social media -->

        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Wurmify</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            Plataforma independiente para el streaming de tus artistas favoritos.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Products</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-white">MDBootstrap</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">BrandFlow</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Bootstrap Angular</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Enlaces de interés</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="https://github.com/iswurm/wurmify" class="text-white">Repositorio de GitHub</a>
                        </p>
                        <p>
                            <a href="https://site.educa.madrid.org/ies.elcanaveral.mostoles/" class="text-white">I.E.S.
                                El Cañaveral</a>
                        </p>
                        <p>
                            <a href="https://aws.amazon.com/es/" class="text-white">Amazon Web Services</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contacto</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> Griñón, Madrid. 28971</p>
                        <p><i class="fas fa-envelope mr-3"></i> ignaciosanchezwurm@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 34 645 140 413</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-3">
            <p data-encore-id="type">© 2023 Wurmify AB</p>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</div>
<!-- End of .container -->