/* Google Font 'Poppins'  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #131312;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.navbar-spotify {
    background-color: #131312;
}

.navbar-spotify .navbar-brand {
    color: #1DB954;
    font-weight: bold;
}

.navbar-spotify .navbar-nav .nav-link {
    color: #fff;
}

.navbar-spotify .navbar-nav .nav-link:hover,
.navbar-spotify .navbar-nav .nav-link:focus {
    color: #1DB954;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav img {
    float: right;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    height: auto;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }
}

@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }
}

#spanNegro {
    color: black;
}

#enlace-titulo a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

#enlace-titulo a:hover {
    color: #1DB954;
}


/* Estilos reproductor */

#player-contenedor {
    background-color: #131312;
}

#player {
    width: 100%;
}

#player #album-image {
    float: left;
    overflow: hidden;
}


#player audio {}

#mp3-source {
    width: 100%;
}

#img-player {
    height: 5rem;
    padding: 1em;
}

#imagen-album {
    display: block;
    width: 50%;
    margin: auto;
}

#imagen-artista {
    display: block;
    width: 50%;
}

#imagen-perfil-navbar {
    margin-left: 2em;
    width: 5%;
    height: auto;
    border-radius:150px;
}

#div-imagen-player {
    padding-left: 12px;
}

#player-song-artist {
    font-size: small;
    color: rgb(193, 193, 193);
}

.cancion {}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@media (max-width: 767px) {
    .card {
        width: 100%;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .card {
        width: 50%;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    .card {
        width: 33.33%;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

//  ss


@media (max-width: 767px) {
    .card {
        width: 100%;
        height: auto;
        margin: 1em;
    }

    #card {
        margin: 1em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card {
        width: 100%;
        height: auto;
        margin: 1em;
    }

    #card {
        margin: 1em;
    }
}

@media (min-width: 992px) {
    .card {
        width: 100%;
        height: auto;
    }

    #card {
        margin: 1em;
    }
}



.artist-list {
    background-color: #131312;
}

.card {
    background-color: #1c1c1b;
    border: none;
    color: #f2f2f2;
}

.card-body {
    background-color: #1c1c1b;
    border: none;
    color: #f2f2f2;
}

.list-group {
    background-color: #1c1c1b;
    border: none;
    color: #f2f2f2;
}

.list-group-flush {
    background-color: #1c1c1b;
    border: none;
    color: #f2f2f2;
}

.list-group-item {
    background-color: #1c1c1b;
    border: none;
    color: #f2f2f2;
}

.list-group-item a {
    color: #f2f2f2;
}

#card {
    margin: 0px auto
}

.btn {
    color: #acacac;
}

.contenerdor-img-card {
    height: 12rem;
    display: flex;
    justify-content: center;
}

/* Estilo general para los botones */
.btn-spotify {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color: #ffffff;
    background-color: #1db954;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

/* Estilo al pasar el mouse por encima del botón */
.btn-spotify:hover {
    background-color: #1ed760;
}

/* Estilo cuando el botón está presionado */
.btn-spotify:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo para un botón más pequeño */
.btn-spotify-sm {
    padding: 8px 16px;
    font-size: 14px;
}

/* Estilo general para los botones de danger */
.btn-spotify-danger {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color: #ffffff;
    background-color: #b91d1d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

/* Estilo al pasar el mouse por encima del botón */
.btn-spotify-danger:hover {
    background-color: #d7241e;
}

/* Estilo cuando el botón está presionado */
.btn-spotify-danger:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo para un botón más pequeño */
.btn-spotify-danger-sm {
    padding: 8px 16px;
    font-size: 14px;
}

/* ESTILOS PARA EL CAMINO DE MIGAS */
.breadcrumb-spotify {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #282828;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .breadcrumb-spotify-item {
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  .breadcrumb-spotify-item:not(:last-child)::after {
    content: "/";
    margin: 0 10px;
    color: #888888;
  }

  .breadcrumb-spotify-item a,
  .breadcrumb-spotify-item a:hover {
    color: #ffffff;
    text-decoration: none;
  }

  @media (max-width: 576px) {
    .breadcrumb-spotify-item:not(:last-child)::after {
      content: none;
    }

    .breadcrumb-spotify-item a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  /*ESTILOS PARA EL REPRODUCTOR*/

  .reproductor-spotify {
    background-color: #282828;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .reproductor-spotify .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    width: 100%;
  }

  .reproductor-spotify .artista {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
  }

  .reproductor-spotify .cancion {
    color: #ffffff;
  }

  .reproductor-spotify .imagen-cancion {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }

  .reproductor-spotify audio {
    width: 100%;
    margin-top: 10px;
  }

  .reproductor-spotify .controles {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .reproductor-spotify .controles button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

  .reproductor-spotify .controles button:hover {
    color: #1db954;
  }

  @media (max-width: 576px) {
    .reproductor-spotify {
      flex-direction: column;
      align-items: flex-start;
    }

    .reproductor-spotify .info {
      margin-bottom: 20px;
    }
  }


  /*ESTILOS PARA ARTIST DETAIL*/
  .card-spotify {
    border: none;
    border-radius: 10px;
    background-color: #282828;
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .card-spotify:hover {
    transform: translateY(-5px);
  }

  .card-spotify img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .card-spotify .card-body {
    padding: 20px;
  }

  .card-spotify .album-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .card-spotify .artist-name {
    font-size: 14px;
    color: #888888;
  }

  #enlace-artist-detail {
    color: #fff;
}

#enlace-artist-detail:hover,
#enlace-artist-detail:focus {
    color: #1DB954;
}

footer{
    margin-bottom: 12rem;
}