<div *ngIf="artist" class="artist-box">
    <div class="artist-head-card">
        <div *ngIf="artist.image" class="image-artist">
            <img src="{{url + 'get-image-artist/' + artist.image}}" alt="">
        </div>
        <div class="data">
            <h1>{{artist.name}}</h1>
            <p class="description">{{artist.description}}</p>
            <a *ngIf="identity.role == 'ROLE_ADMIN'" [routerLink]="['/add-album', artist._id]" class="btn btn-default">Añadir álbum</a>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="gallery-albums" *ngIf="albums">
        <p>Albumes</p>
        <ul class="albums-list">
            <li *ngFor="let album of albums" class="col-lg-4 album-item">
                <p>{{album.title}}</p>
                <a class="btn btn-danger" [routerLink]="['/album', album._id]">DETALLES </a>
                <div class="pic">
                    <img src="{{url + 'get-image-album/' + album.image}}" alt="">
                </div>
                <div *ngIf="identity.role == 'ROLE_ADMIN'" class="edicion">
                    <p>
                        <a [routerLink]="['/edit-album', album._id]">
                            Editar: {{album.title}}
                        </a>
                    </p>
                    <a class="btn btn-default" (click)="onDeleteConfirm(album._id)">Borrar</a><br>

                    <div class="seguro" *ngIf="confirmado == album._id">
                        <a class="btn btn-danger" (click)="onDeleteAlbum(album._id)">ELIMINAR </a>
                        <a class="btn btn-default" (click)="onCancelAlbum(album._id)">Cancelar</a><br>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>