<div *ngIf="artist" class="artist-box">
    <div class="artist-head-card">
        <div *ngIf="artist.image" class="image-artist">
            <img src="{{url + 'get-image-artist/' + artist.image}}" alt="">
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="album" *ngIf="album">
        <p>Album</p>
        <div class="pic">
            <img src="{{urlAWS + album.image}}" alt="">
        </div>
        
        <h2>{{album.title}}</h2>
        <h3>{{album.description}}</h3>
        <h3>{{album.year}}</h3>

        <div class="songs-list">
            <ul *ngFor="let song of songs">
                <li>
                    {{song.number}}: 
                    {{song.name}}
                    <a (click)="startPlayer(song)" class="btn btn-success">
                        <i class="bi bi-play-fill" id="masterPlay"></i>
                    </a>
                    <a [routerLink]="['/edit-song', song._id]">Editar</a>
                    <a class="btn btn-default" (click)="onDeleteConfirm(song._id)">Borrar</a><br>
                    <div class="seguro" *ngIf="confirmado == song._id">
                        <a class="btn btn-danger" (click)="onDeleteSong(song._id)">ELIMINAR </a>
                        <a class="btn btn-default" (click)="onCancelSong(song._id)">Cancelar</a><br>
                    </div>
                    <!--  
                    <div class="song" *ngIf="song.file">
                        <audio controls>
                            <source src="{{urlAWS + song.file}}">
                        </audio>
                    </div>
                    -->
                </li>
            </ul>
        </div>

        <div *ngIf="identity.role == 'ROLE_ADMIN'">
            <a [routerLink]="['/add-song', album._id]"
                class="btn btn-default">Añadir canción</a>
        </div>
    </div>
</div>