<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-spotify">
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/']">Inicio</a></li>
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/mis-datos']">{{identity.name}}</a></li>
        </ol>
      </nav>
</div>

<div class="row">
    <div class="col-lg-6" *ngIf="identity">
        <h2>Actualiza tus datos</h2>
        
        <span id="identity_name">Bienvenido, {{identity.name}} </span><span id="">{{identity.surname}}</span><br>
        <span id="">{{identity.email}}</span><br>
        <img src="{{urlAWS + user.image}}" class="card-img-top" id="imagen-artista"/><br>

        <form #updateForm="ngForm" (submit)="onSubmit()" class="col-md-10">
            <p>
                <label for="">Nombre:</label>
                <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required>
                <span *ngIf="!name.valid && name.touched">
                    El nombre es obligatorio
                </span>
            </p>
            <p>
                <label for="">Apellidos:</label>
                <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required>
                <span *ngIf="!surname.valid && surname.touched">
                    Los apellidos son obligatorios
                </span>
            </p>
            <p>
                <label for="">Email:</label>
                <input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
            </p>
            <div *ngIf="identity.role == 'ROLE_ADMIN'">
                <p>
                    <label for="">Profile pic: </label><br>
                    <input type="file" name="image" placeholder="Upload your profile picture" (change)="fileChangeEvent($event)">
                </p>
            </div>

            <input type="submit" value="Actualizar usuario" class="btn btn-spotify">
        </form>
    </div>
</div>
