<div class="row">
    <div class="col-lg-6" *ngIf="identity">
        <h2>Update User</h2>
        
        <span id="identity_name">Bienvenido, {{identity.name}} </span><span id="">{{identity.surname}}</span><br>
        <span id="">{{identity.email}}</span><br>
        <img src="{{urlAWS + user.image}}"/><br>

        <form #updateForm="ngForm" (submit)="onSubmit()" class="col-md-10">
            <p>
                <label for="">Name:</label>
                <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required>
                <span *ngIf="!name.valid && name.touched">
                    El nombre es obligatorio
                </span>
            </p>
            <p>
                <label for="">Surname:</label>
                <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required>
                <span *ngIf="!surname.valid && surname.touched">
                    Los apellidos son obligatorios
                </span>
            </p>
            <p>
                <label for="">Email:</label>
                <input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
            </p>
            <p>
                <label for="">Profile pic: </label>
                <input type="file" name="image" placeholder="Upload your profile picture" (change)="fileChangeEvent($event)">
            </p>
            <input type="submit" value="Actualizar usuario" class="btn btn-default">
        </form>
    </div>
</div>
