<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-spotify">
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/']">Inicio</a></li>
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/artists', 1]">Artistas</a></li>
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/artist', artist._id]">{{artist.name}}</a></li>
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/album', album._id]">{{album.title}}</a></li>
          <li class="breadcrumb-spotify-item"><a href="#">Añadir canción</a></li>
        </ol>
      </nav>
</div>

<h1>{{titulo}}</h1>

<div class="formSong">
    <form #formSong="ngForm" (submit)="onSubmit()" class="col-md-10">
        <p>
            <label for="">Número:</label>
            <input type="number" #number="ngModel" name="number" [(ngModel)]="song.number" class="form-control" required>
            <span *ngIf="!number.valid && (number.dirty || number.touched)">
                El número es obligatorio
            </span>
        </p>
        <p>
            <label for="">Título:</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="song.name" class="form-control" required>
            <span *ngIf="!name.valid && (name.dirty || name.touched)">
                El título es obligatorio
            </span>
        </p>
        <input type="submit" value="Añadir canción" class="btn-spotify" [disabled]="!formSong.form.valid">
    </form>
</div>
