<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-spotify">
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/']">Inicio</a></li>
          <li class="breadcrumb-spotify-item"><a >{{song.name}}</a></li>
          <li class="breadcrumb-spotify-item"><a >Editar canción</a></li>
        </ol>
      </nav>
</div>

<div class="row">
    <h1>Actualizar {{song.name}}</h1>

    <div class="formSong">
        <form #formSong="ngForm" (submit)="onSubmit()" class="col-md-10">
            <p>
                <label for="">Number:</label>
                <input type="number" #number="ngModel" name="number" [(ngModel)]="song.number" class="form-control"
                    required>
                <span *ngIf="!name.valid && name.touched">
                    El number es obligatorio
                </span>
            </p>
            <p>
                <label for="">Name:</label>
                <input type="text" #name="ngModel" name="name" [(ngModel)]="song.name" class="form-control" required>
                <span *ngIf="!name.valid && name.touched">
                    El title es obligatorio
                </span>
            </p>
            <p>
                <label for="">Duration:</label>
                <input type="text" #duration="ngModel" name="duration" [(ngModel)]="song.duration" class="form-control"
                    required>
                <span *ngIf="!duration.valid && duration.touched">
                    La duración es obligatoria
                </span>
            </p>
            <div>
                <label for="">Song file: </label>
                <div class="song" *ngIf="song.file">
                    <audio controls>
                        <source src="{{urlAWS + song.file}}">
                    </audio>
                </div>
                <input type="file" name="image" placeholder="Upload an artist picture"
                    (change)="fileChangeEvent($event)">
            </div>
            <input type="submit" value="Update song" class="btn-spotify" [disabled]="!formSong.form.valid">
        </form>
    </div>
</div>