<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-spotify">
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/']">Inicio</a></li>
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/artists', 1]">Artistas</a></li>
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/artist', artist._id]">{{artist.name}}</a></li>
          <li class="breadcrumb-spotify-item"><a [routerLink]="['/artists', 1]">Editar</a></li>
        </ol>
      </nav>
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-6" *ngIf="identity.role == 'ROLE_ADMIN'">
        <h2>Actualizar Artista</h2>
        
        <span id="identity_name">Bienvenido, {{identity.name}} </span><span id="">{{identity.surname}}</span><br>
        <span id="">{{identity.email}}</span><br>

        <form #updateArtist="ngForm" (submit)="onSubmit()" class="col-md-10">
            <p>
                <label for="">Nombre:</label>
                <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" class="form-control" required>
                <span *ngIf="!name.valid && (name.dirty || name.touched)">
                    El nombre es obligatorio.
                </span>
            </p>
            <p>
                <label for="">Descripción:</label>
                <input type="text" #description="ngModel" name="description" [(ngModel)]="artist.description" class="form-control" required>
                <span *ngIf="!description.valid && (description.dirty || description.touched)">
                    La descripción es obligatoria.
                </span>
            </p>
            <div>
                <label for="">Foto del artista: </label>
                <div class="imageEdit" *ngIf="artist.image">
                    <img *ngIf="artist.image== 'null'" src="https://wurmify.s3.eu-west-3.amazonaws.com/3bp8Cojl234GBpn0qzAMd0bI.png" alt="Imagen del artista">
                    <img *ngIf="artist.image!= 'null'" src="{{urlAWS + artist.image}}" alt="Imagen del artista">
                </div>
                <input type="file" name="image" placeholder="Upload an artist picture" (change)="fileChangeEvent($event)">
            </div>
            <input type="submit" value="Actualizar artista" class="btn-spotify" [disabled]="!updateArtist.form.valid">
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>
